@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
	body {
		@apply text-primary font-normal text-dark;
	}

	a {
		@apply block leading-3;
	}

	h1 {
		@apply text-[42px] leading-[50px] font-medium;
	}

	h2 {
		@apply text-xl font-medium leading-6;
	}
}

@layer components {
	/* .btn-main {
		@apply p-[15px] text-[15px] rounded-[15px] cursor-pointer text-white bg-btnColor shadow-[0px_16px_36px] shadow-shadowColor
		transition-all ease-in duration-[0.3s] hover:bg-bthColorHover hover:shadow-shadowColorHover;
	}

	.flex-jb-ic {
		@apply flex justify-evenly items-center;
	}

	.padding-md {
		@apply pb-[115px] pt-[200px] px-5;
	}

	.padding-sm {
		@apply pb-[50px] pt-40 px-2.5;
	} */

	#main-news-title,
	#second-news-title {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	#main-news-img {
		@apply h-full;
	}

	#main-news-src {
		@apply mt-2;
	}
}

.nav-active:active {
	color: red;
}
